{% extends 'home/base.html' %}

{% block content %}

<div class="grid-x">
    <h1 class="cell">Lista de Empleados</h1>
    <div class="cell grid-x grid-margin-x">
        <div class="cell large-7">
            <input type="text" placeholder="Buscar Empleado">
        </div>
        <div class="cell large-3">
            <a class="button success" href="">Buscar</a>
        </div>
    </div>
    <div class="cell">
        <table class="stack">
            <thead>
              <tr>
                <th width="200"><b>ID</b></th>
                <th width="250"><b>NOMBRE-APELLIDO</b></th>
                <th width="200"><b>ACCION</b></th>
              </tr>
            </thead>
            <tbody>
                {% for registro in object_list %}
              <tr>
                <td>{{ registro.id }}</td>
                <td>{{ registro.nom }}</td>
                <td><a class="button warning" href="{% url 'controlEmpleado_app:ver_empleado' registro.id %}">ver</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>























<!-- <h1>Lista de Todos Los Empleados</h1>
<ul>
    {% for registro in object_list %}
        <li>{{registro}}</li>
    {% endfor %}
</ul>

{% if is_paginated %}
    <ul class="">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% endif %}

        <li class="page-item">
            <a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
            </li>
        {% endif %}

    </ul>
{% endif %} -->

{% endblock content %}